/* theme color */
:root {
    --main-title-default: #2c3e50;
    --sidebar-head-default: #2c3e50;
    --color-default: #3eaf7c;
    --color-default-rgba: rgba(67, 175, 124, 0.3);
}
$--color-primary: #1890ff;
$--color-warning: #ffba00;
$--color-danger: #ff4949;

$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;
